* { margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
    .hidden-on-desktop {
        display: none;
    }


    .alert-info > a {
        color: black;
        text-decoration: none;

    }

    .alert-info {
        display: flex;
        background-color: #CCFFFF;
        border: 1px solid black;
        padding: 1em 0;
        align-items: center;
        justify-content: center;
        /*color: black;*/
        /*text-decoration: none;*/


    }


    body {
        display: flex;
        margin: 1em;
        width: 339px;
        flex-direction: column;


    }

    h1 {
        text-align: center;
        margin-bottom: .5em;
        /*margin-top: .5em;*/
        font-size: 50px;

    }

    li {
        display: flex;
        margin: .5em 0;
        padding: 1em 0;
        background: #CCCCCC;
        width: 100%;
        justify-content: center;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;


    }

    .header-img {
        margin: 1em 0;
    }

    img {


        width: 339px;
        height: 224px;

    }

    section {
        margin-bottom: 1em;

    }

    #main {
        margin-bottom: 2em;
    }

    .main {

    }

    .sub-section {
        font-style: italic;
        margin-bottom: 4em;
    }


}