* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.alert-info > a {
    color: black;
    text-decoration: none;
}

.alert-info {
    display: flex;
    background-color: #CCFFFF;
    border: 1px solid black;
    padding: 1em 0;
    align-items: center;
    justify-content: center;
}


body {
    display: flex;
    margin: 1em;
    width: 339px;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: .5em;
    font-size: 50px;
}

li {
    display: flex;
    margin: .5em 0;
    padding: 1em 0;
    background: #CCCCCC;
    width: 100%;
    justify-content: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.header-img {
    margin: 1em 0;
}

img {
    width: 339px;
    height: 224px;
}

section {
    margin-bottom: 1em;
}

#main {
    margin-bottom: 2em;
}

.sub-section {
    font-style: italic;
    margin-bottom: 4em;
}

footer {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}


i {
    margin-top: 20px;
}

@media screen and (min-width: 860px) and (max-width: 1500px) {
    .hidden-on-desktop {
        visibility: hidden;
    }

    body {
        display: flex;
        padding: 0;
        width: 890px;
        margin-bottom: 10em;
    }

    h1 {
        display: flex;
        align-items: flex-start;
        font-size: 65px;
        margin: 0;
        height: 3px;
    }

    li {
        display: flex;
        background: none;
        width: 0;
        margin: 0;
        padding: 2em;
    }

    .nav-links {
        display: flex;
        list-style-type: none;
        Margin: 0;
        padding: 0;
        justify-content: flex-end;
        align-item: flex-start;
        flex-direction: row;
        height: 5em;
    }

    img {
        width: 890px;
        height: 385px;
        margin-bottom: 2em;
    }

    section {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-right: 25%;
        padding: 0;
        margin-bottom: 5em;
        border-bottom: 0;
        height: 71px;
    }

    .main {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        margin-right: 30%;
    }

    .sub-section {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: 30%;
        padding: 0;
        margin-left: 70%;
        font-style: italic;
    }

    p {
        margin-top: 2em;
    }



    footer {
        display: flex;
        margin-top: 10em;
        justify-content: space-between;
        align-content: flex-end;
        align-items: flex-end;
    }



}

